# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 王中阳
subtitle: 人啊总是需要一个副标题
description: 最帅的阳仔思密达
author: 王中阳
language: zh-Hans
timezone:
email: 425772719@qq.com
# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://wangzhongyang.ren
root: /
permalink: :year/:month/:day/:title/
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
## 不使用模板
skip_render:  
  - marry/**

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: true # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
plugins: hexo-generate-feed
## Themes: https://hexo.io/themes/
theme: indigo

feed:
  type: atom #feed 类型 (atom/rss2)
  path: atom.xml #rss 路径
  limit: 20 #在 rss 中最多生成的文章数(0显示所有)

#duoshuo_shortname: wangzhongyang00
# Deployment
## Docs: https://hexo.io/docs/deployment.html
search:
  path: search.json
  field: post

#优化
jsonContent:
  meta: false
  pages: false
  posts:
    title: true
    date: true
    path: true
    text: true
    raw: false
    content: false
    slug: false
    updated: false
    comments: false
    link: false
    permalink: false
    excerpt: false
    categories: false
    tags: true
#压缩
html_minifier:
  minifyCSS: true
  minifyJS: true

clean_css:
  exclude:

uglify:
  mangle: true
  output:
  compress:
  exclude:

#站点地图
sitemap:
    path: sitemap.xml
#发布
deploy:
  type: git
  repo: git@github.com:wangzhongyang00/wangzhongyang00.github.io.git
  branch: master
  message: blog update

